### Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
# Creating a Tuple

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
num = tuple([1,2,3,4,5,6])
num

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple = (1, "Hello World", 3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [6]:
## Accessing Tuple Elements

num

(1, 2, 3, 4, 5, 6)

In [9]:
print(num[2])
print(num[-1])

3
6

In [10]:
num[0:4]

(1, 2, 3, 4)

In [11]:
num[::-1]

(6, 5, 4, 3, 2, 1)

In [14]:
## tuples Operations

concatenation = num + mixed_tuple
print(concatenation)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [15]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [16]:
num * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [17]:
## Immutable Nature of Tuples - elements cannot be changed once assigned.

lst = [1,2,3,4,5]
print(lst)

lst[1] = "Suk"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Suk', 3, 4, 5]

In [18]:
num[1] = "Suk"

TypeError: 'tuple' object does not support item assignment

In [ ]:
## Tuple Methods

print(num.count(1)) # count how many number  of times the element is present in the specific tuple

print(num.index(3)) # means at which index this element 3 is present

1
2

In [ ]:
## Packing and Unpacking tuple

# Packing
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [23]:
# Unpacking

a, b, c = packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [25]:
## Unpacking with *

num = (1,2,3,4,5,6)
first, *middle, last = num
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [30]:
## Nested Tuple
## Nested List

lst = [[1,2,3,4], [6,7,8,9], [1, "Hello", 3.14, "c"]]
print(lst[0])
print(lst[0][2])
print(lst[0][0:3])

[1, 2, 3, 4]
3
[1, 2, 3]

In [ ]:
lst = [[1,2,3,4], [6,7,8,9], (1, "Hello", 3.14, "c")]
print(lst[0])
print(lst[0][2])
print(lst[0][0:3])