#### Sets

Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and preforming mathematical set operations like union, intersection, difference, and symmetric difference.

In [1]:
## Create a set

my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [4]:
my_set = set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [5]:
set1 = set([1,2,3,4,2,3,4,2,3,4,6])
print(set1)

{1, 2, 3, 4, 6}

#### Set Operations

In [ ]:
## Adding elements

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [7]:
## Removing elements

my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [8]:
my_set.remove(10)

KeyError: 10

In [9]:
my_set.discard(10)

In [11]:
## Pop method

removedEle = my_set.pop()
print(removedEle)
print(my_set)

2
{4, 5, 6, 7}

In [12]:
## Clear all the elements

my_set.clear()
print(my_set)

set()

In [13]:
## Set Membership Test

my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

##### Mathematical Operation

In [ ]:
## Union

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
# Intersection

intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5, 6}

In [19]:
set1.intersection_update(set2) # find the common elements and update in set1
print(set1)

{4, 5, 6}

In [22]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

## Difference

print(set1.difference(set2)) # remove common elements from set1

{1, 2, 3}

In [21]:
set1

{1, 2, 3, 4, 5, 6}

In [23]:
set2.difference(set1)

{7, 8, 9}

In [ ]:
## Symmetric Difference

set1.symmetric_difference(set2) # both the unique elements from both the sets are combined

{1, 2, 3, 7, 8, 9}

#### Sets Methods

In [31]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}

## is subset
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [33]:
lst = [1,2,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [34]:
## Counting Unique words in text

text = "In this session, we are discussing about sets"
words = text.split()

## Convert list of words to set to get unique words

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'about', 'this', 'we', 'sets', 'session,', 'In', 'are', 'discussing'}
8