# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
# 1: Creating and Accessing Tuples
# Create a tuple with the first 10 positive integers.

numbers = tuple(range(1, 11))
print("Tuple of first 10 positive integers:", numbers)

Tuple of first 10 positive integers: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
# 2: Accessing Tuple Elements
# Print first, middle, and last elements.

# Assignment 2
print("First element:", numbers[0])
print("Middle element:", numbers[len(numbers)//2])
print("Last element:", numbers[-1])

First element: 1
Middle element: 6
Last element: 10

In [3]:
# 3: Tuple Slicing
# Print first 3, last 3, and elements from index 2 to 5.

print("First 3 elements:", numbers[:3])
print("Last 3 elements:", numbers[-3:])
print("Elements from index 2 to 5:", numbers[2:6])

First 3 elements: (1, 2, 3)
Last 3 elements: (8, 9, 10)
Elements from index 2 to 5: (3, 4, 5, 6)

In [4]:
# 4: Nested Tuples
# Create 3×3 matrix using nested tuple and access an element.

matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print("Matrix:")
for row in matrix:
    print(row)

print("Element at 2nd row, 3rd column:", matrix[1][2])

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at 2nd row, 3rd column: 6

In [5]:
# 5: Tuple Concatenation
# Combine two tuples.

t1 = (1, 2, 3)
t2 = (4, 5, 6)
result = t1 + t2
print("Concatenated tuple:", result)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [6]:
# 6: Tuple Methods
# Count and find index.

t = (1, 2, 2, 3, 4, 2, 5)
print("Tuple:", t)
print("Count of 2:", t.count(2))
print("Index of first occurrence of 3:", t.index(3))

Tuple: (1, 2, 2, 3, 4, 2, 5)
Count of 2: 3
Index of first occurrence of 3: 3

In [7]:
# 7: Unpacking Tuples
# Assign tuple elements to variables.

t = (10, 20, 30, 40, 50)
a, b, c, d, e = t
print("Unpacked values:", a, b, c, d, e)

Unpacked values: 10 20 30 40 50

In [8]:
# 8: Tuple Conversion
# Convert list → tuple.

lst = [1, 2, 3, 4, 5]
t = tuple(lst)
print("Converted tuple:", t)

Converted tuple: (1, 2, 3, 4, 5)

In [9]:
# 9: Tuple of Tuples
# Create tuple containing 3 tuples.

tuple_of_tuples = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print("Tuple of tuples:", tuple_of_tuples)

Tuple of tuples: ((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [10]:
# 10: Tuple and List
# Convert tuple → list → modify → tuple again.

t = (1, 2, 3, 4, 5)
lst = list(t)
lst.append(6)
t = tuple(lst)
print("Modified tuple:", t)

Modified tuple: (1, 2, 3, 4, 5, 6)

In [11]:
# 11: Tuple and String
# Convert string → tuple → back to string.

s = "HELLO"
t = tuple(s)
joined_string = ''.join(t)
print("Tuple of characters:", t)
print("Joined string:", joined_string)

Tuple of characters: ('H', 'E', 'L', 'L', 'O')
Joined string: HELLO

In [12]:
# 12: Tuple and Dictionary
# Dictionary with tuple keys.

d = {
    (1, 2): 10,
    (3, 4): 20,
    (5, 6): 30
}
print("Dictionary with tuple keys:", d)

Dictionary with tuple keys: {(1, 2): 10, (3, 4): 20, (5, 6): 30}

In [13]:
# 13: Nested Tuple Iteration
# Print each element of nested tuple.

nested_tuple = ((1, 2), (3, 4), (5, 6))
print("Nested tuple elements:")
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=' ')

Nested tuple elements:
1 2 3 4 5 6

In [14]:
# 14: Tuple and Set
# Remove duplicates using set.

t = (1, 2, 2, 3, 4, 4, 5)
unique_set = set(t)
print("Set without duplicates:", unique_set)

Set without duplicates: {1, 2, 3, 4, 5}

In [15]:
# 15: Tuple Functions
# Find min, max, and sum.

def tuple_stats(t):
    return min(t), max(t), sum(t)

t = (3, 7, 2, 9, 5)
minimum, maximum, total = tuple_stats(t)
print("Tuple:", t)
print("Minimum:", minimum)
print("Maximum:", maximum)
print("Sum:", total)

Tuple: (3, 7, 2, 9, 5)
Minimum: 2
Maximum: 9
Sum: 26