### SQL And SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

SQL (Structured Query Language)
SQL is a language used to store, update, delete, and retrieve data from relational databases.
Example commands: SELECT, INSERT, UPDATE, DELETE.

SQLite
SQLite is a lightweight database that stores the entire database in one single file.
It uses SQL but does not need a server.
Commonly used in mobile apps, browsers, and small projects.

In short :
SQL = Language.
SQLite = Database software that uses SQL and works without a server.

In [2]:
import sqlite3

In [3]:
# Connect to an SQLite database

connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [5]:
# create a table
cursor.execute('''
Create Table If Not Exists employees (
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department Text
    )
''')

# Commit the changes
connection.commit()

In [6]:
cursor.execute('''
Select * From employees
''')

In [7]:
# Insert the data in sqlite table

cursor.execute('''
  Insert Into employees (name, age, department)
               values ('Alice', 30, 'HR')
''')

cursor.execute('''
  Insert Into employees (name, age, department)
               values ('Bob', 25, 'Engineering')
''')

cursor.execute('''
  Insert Into employees (name, age, department)
               values ('Charlie', 28, 'Finance')
''')

connection.commit()

In [8]:
# Query the data from the table

cursor.execute('Select * From employees')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Finance')

In [10]:
# Update the data in the table

cursor.execute('''
UPDATE employees
Set age = 35
where name = 'Alice'
''')

connection.commit()

In [11]:
# Query the data from the table

cursor.execute('Select * From employees')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, 'Alice', 35, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Finance')

In [12]:
# Delete the data from the table

cursor.execute('''
Delete from employees
where name = 'Bob'
''')

connection.commit()

In [13]:
# Query the data from the table

cursor.execute('Select * From employees')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, 'Alice', 35, 'HR')
(3, 'Charlie', 28, 'Finance')

In [17]:
# Working with Sales Data

# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
Create Table If Not Exists sales (
   id Integer Primary Key,
    date Text Not Null,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
   )
''')

# Insert data into the sales table
sales_data = [
  ('2025-01-01', 'ProductA', 100, 'North'),
  ('2025-01-02', 'ProductB', 150, 'South'),
  ('2025-01-03', 'ProductC', 200, 'East'),
  ('2025-01-04', 'ProductA', 250, 'West'),
]

cursor.executemany('''
Insert into sales(date, product, sales, region)
Values (?, ?, ?, ?)
''', sales_data)

connection.commit()

In [19]:
# Query the data from the table

cursor.execute('Select * From sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2025-01-01', 'ProductA', 100, 'North')
(2, '2025-01-02', 'ProductB', 150, 'South')
(3, '2025-01-03', 'ProductC', 200, 'East')
(4, '2025-01-04', 'ProductA', 250, 'West')

In [20]:
# Close the connection
connection.close()

In [21]:
# Query the data from the table

cursor.execute('Select * From employees')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.