# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

### 1 : Creating and Connecting to a Database

In [1]:
import sqlite3

def create_database():
  conn = sqlite3.connect('test.db')
  conn.close()
  print("Database created successfully.")

create_database()

Database created successfully.

In [10]:
def create_table():
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees (
      id INTEGER PRIMARY KEY,
      name TEXT NOT NULL,
      age INTEGER NOT NULL,
      department TEXT NOT NULL
    )
  ''')
  conn.commit()
  conn.close()
  print("Table created successfully.")

create_table()

Table created successfully.

### 2 : Inserting Data

In [11]:
# Write a Python function to insert a new employee into the `employees` table.

def insert_emp(id, name, age, department):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('''
    INSERT INTO employees(id, name, age, department)
    VALUES(?, ?, ?, ?)
    ''', (id, name, age, department))
  conn.commit()
  conn.close()
  print("Employee inserted successfully.")

insert_emp(1, 'John Doe', 30, 'HR')

Employee inserted successfully.

In [12]:
insert_emp(2, 'Bob', 25, 'Engineering')
insert_emp(3, 'Charlie', 28, 'Sales')
insert_emp(4, 'David', 35, 'Marketing')
insert_emp(5, 'Eve', 22, 'HR')

Employee inserted successfully.
Employee inserted successfully.
Employee inserted successfully.
Employee inserted successfully.

### 3 : Querying Data

In [14]:
# Write a Python function to fetch and display all records from the `employees` table.

def fetchall_emp():
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('SELECT * FROM EMPLOYEES')
  records = cursor.fetchall()
  conn.close()

  for row in records:
    print(row)

fetchall_emp()

(1, 'John Doe', 30, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

In [17]:
# Write a Python function to fetch and display all employees from a specific department.

def fetchbydept(department):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('select * from employees where department = ?', department)
  records = cursor.fetchall()
  conn.close()

  for row in records:
    print(row)
    
fetchbydept(('HR',))

(1, 'John Doe', 30, 'HR')
(5, 'Eve', 22, 'HR')

### 4 : Updating Data

In [18]:
# Write a Python function to update the department of an employee based on their `id`.

def updatedept(id, department):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('update employees set department = ? where id = ?', (department, id))
  conn.commit()
  conn.close()
  print("Employee department updated successfully.")

updatedept(1, 'Finance')

Employee department updated successfully.

In [20]:
# Update the department of at least 2 employees and display the updated records.

updatedept(2, 'Research')
updatedept(3, 'Development')

fetchall_emp()

Employee department updated successfully.
Employee department updated successfully.
(1, 'John Doe', 30, 'Finance')
(2, 'Bob', 25, 'Research')
(3, 'Charlie', 28, 'Development')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

### 5 : Deleting Data

In [21]:
# Write a Python function to delete an employee from the `employees` table based on their `id`.

def delete_emp(id):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('delete from employees where id = ?', id)
  conn.commit()
  conn.close()
  print("Employee deleted successfully.")

delete_emp((5,))

Employee deleted successfully.

In [22]:
# Delete at least 1 employee and display the remaining records.

fetchall_emp()
delete_emp((4,))
fetchall_emp()

(1, 'John Doe', 30, 'Finance')
(2, 'Bob', 25, 'Research')
(3, 'Charlie', 28, 'Development')
(4, 'David', 35, 'Marketing')
Employee deleted successfully.
(1, 'John Doe', 30, 'Finance')
(2, 'Bob', 25, 'Research')
(3, 'Charlie', 28, 'Development')

### 6 : Advanced Queries

In [25]:
# Write a Python function to fetch and display employees older than a certain age.

def fetchbyage(age):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('Select * from employees where age > ?', (age,))
  records = cursor.fetchall()
  conn.close()

  for row in records:
      print(row)

fetchbyage(28)

(1, 'John Doe', 30, 'Finance')

In [27]:
# Write a Python function to fetch and display employees whose names start with a specific letter.

def fetchNameStartsWith(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

fetchNameStartsWith('J')

(1, 'John Doe', 30, 'Finance')

### 7 : Handling Transactions

In [36]:
# Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

def insertMultipleTransactions(employeeList):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  try:
    cursor.executemany('''
    insert into employees (id, name, age, department)
    values(?, ?, ?, ?)''', employeeList)
    conn.commit()
    print("All employees inserted successfully.")
  except sqlite3.Error as e:
    conn.rollback()
    print("Transaction failed. No employees were inserted.", e)
  finally:
    conn.close()

employeeList = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    # (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]
insertMultipleTransactions(employeeList)

All employees inserted successfully.

In [37]:
# Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

def updateMultipleAges(ageUpdates):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  try:
    cursor.executemany('''
    update employees set age = ? where id = ?''', ageUpdates)
    conn.commit()
    print("All employee ages updated successfully.")
  except sqlite3.Error as e:
    conn.rollback()
    print("Transaction failed. No ages were updated.", e)
  finally:
    conn.close()

ageUpdates = [
    (31, 1),
    (26, 2),
    (29, 3),
    (36, 4),
    # (41, 10)  # Non-existent ID to cause an error
]
updateMultipleAges(ageUpdates)

All employee ages updated successfully.

### 8 : Creating Relationships

In [38]:
# Create a new table named `departments` with columns `id` (integer) and `name` (text).

def create_departments_table():
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('''
    CREATE TABLE IF NOT EXISTS departments (
      id INTEGER PRIMARY KEY,
      name TEXT NOT NULL
    )
  ''')
  conn.commit()
  conn.close()
  print("Departments table created successfully.")

create_departments_table()

Departments table created successfully.

In [39]:
# Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

def modify_employees_table():
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('PRAGMA foreign_keys=off;')
  cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees_new (
      id INTEGER PRIMARY KEY,
      name TEXT NOT NULL,
      age INTEGER NOT NULL,
      department_id INTEGER,
      FOREIGN KEY(department_id) REFERENCES departments(id)
    )
  ''')
  cursor.execute('''
    INSERT INTO employees_new (id, name, age, department_id)
    SELECT id, name, age, NULL FROM employees;
  ''')
  cursor.execute('DROP TABLE employees;')
  cursor.execute('ALTER TABLE employees_new RENAME TO employees;')
  cursor.execute('PRAGMA foreign_keys=on;')
  conn.commit()
  conn.close()
  print("Employees table modified successfully.")

modify_employees_table()

Employees table modified successfully.

In [40]:
# Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

def insert_dept_and_emp(dept_id, dept_name, emp_id, emp_name, emp_age):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  try:
    cursor.execute('''
      INSERT INTO departments (id, name)
      VALUES (?, ?)
    ''', (dept_id, dept_name))
    cursor.execute('''
      INSERT INTO employees (id, name, age, department_id)
      VALUES (?, ?, ?, ?)
    ''', (emp_id, emp_name, emp_age, dept_id))
    conn.commit()
    print("Department and employee inserted successfully.")
  except sqlite3.Error as e:
    conn.rollback()
    print("Insertion failed. No data was inserted.", e)
  finally:
    conn.close()

insert_dept_and_emp(1, 'HR', 10, 'Jack', 45)
insert_dept_and_emp(2, 'Engineering', 11, 'Karen', 32)

Department and employee inserted successfully.
Department and employee inserted successfully.

### 9: Indexing and Optimization

In [41]:
# Create an index on the `name` column of the `employees` table.

def create_index_on_name():
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('''
    CREATE INDEX IF NOT EXISTS idx_name ON employees(name)
  ''')
  conn.commit()
  conn.close()
  print("Index on name column created successfully.")

create_index_on_name()

Index on name column created successfully.

In [42]:
# Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

import time

def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)

fetch_employees_name_starts_with_performance('A')

Time taken: 0.00025391578674316406 seconds

### 10: Backing Up and Restoring Data

In [43]:
# Write a Python function to back up the `test.db` database to a file named `backup.db`.

import shutil

def backup_database():
    shutil.copy('test.db', 'backup.db')
    print("Database backed up successfully.")

backup_database()

Database backed up successfully.

In [44]:
# Write a Python function to restore the `test.db` database from the `backup.db` file.

def restore_database():
    shutil.copy('backup.db', 'test.db')
    print("Database restored successfully.")

restore_database()

Database restored successfully.