### Reading Data From Different Sources

In [1]:
import pandas as pd
from io import StringIO

Data = '{"employee_name" : "Suk", "email" : "suk@gmail.com", "job_profile" : [{"title1" : "Team Lead", "title2" : "Developer"}]}'
df = pd.read_json(StringIO(Data))
print(df)

  employee_name          email                                     job_profile
0           Suk  suk@gmail.com  {'title1': 'Team Lead', 'title2': 'Developer'}

In [2]:
df

  employee_name          email                                     job_profile
0           Suk  suk@gmail.com  {'title1': 'Team Lead', 'title2': 'Developer'}

In [3]:
df.to_json()

'{"employee_name":{"0":"Suk"},"email":{"0":"suk@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Developer"}}}'

In [6]:
# Converts DataFrame to JSON format
# 'orient=index' → each row index becomes a key, and its value is that row’s data as a dictionary
json_data = df.to_json(orient='index')

In [7]:
# Converts DataFrame to JSON format
# 'orient=records' → each row becomes a separate dictionary (list of row dictionaries)
json_data = df.to_json(orient='records')