# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [2]:
import numpy as np
import pandas as pd

### 1: DataFrame Creation and Indexing

In [2]:
# 4 columns, 6 rows, set index to first column

df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:", df)

Original DataFrame:
    A   B   C   D
0  93  15  99  75
1  58  73  32  75
2  35  57  34  47
3  92  31  19  31
4  35  41  28  51
5  77  69  72  82
DataFrame with new index:      B   C   D
A
93  15  99  75
58  73  32  75
35  57  34  47
92  31  19  31
35  41  28  51
77  69  72  82

In [3]:
# DataFrame with custom index and access element

# DataFrame with given columns and index
df2 = pd.DataFrame(
    np.random.randint(1, 100, size=(3, 3)),
    columns=['A', 'B', 'C'],
    index=['X', 'Y', 'Z']
)

print("DataFrame:\n", df2)

# Access element at row 'Y' and column 'B'
value = df2.loc['Y', 'B']
print("\nElement at row 'Y', column 'B':", value)

DataFrame:
     A   B   C
X  72  59  12
Y  63  88  63
Z  23  35  66

Element at row 'Y', column 'B': 88

### 2: DataFrame Operations

In [4]:
# Add new column as product of first two

df3 = pd.DataFrame(
    np.random.randint(1, 10, size=(5, 3)),
    columns=['col1', 'col2', 'col3']
)
print("Original DataFrame:\n", df3)

# New column = product of col1 and col2
df3['product'] = df3['col1'] * df3['col2']
print("\nAfter adding 'product' column:\n", df3)

Original DataFrame:
    col1  col2  col3
0     9     3     4
1     1     5     1
2     1     9     3
3     1     9     6
4     4     7     6

After adding 'product' column:
    col1  col2  col3  product
0     9     3     4       27
1     1     5     1        5
2     1     9     3        9
3     1     9     6        9
4     4     7     6       28

In [5]:
# Row-wise and column-wise sum

df4 = pd.DataFrame(
    np.random.randint(1, 10, size=(4, 3)),
    columns=['A', 'B', 'C']
)
print("DataFrame:\n", df4)

# Row-wise sum (axis=1)
row_sum = df4.sum(axis=1)
print("\nRow-wise sum:\n", row_sum)

# Column-wise sum (axis=0 â€“ default)
col_sum = df4.sum(axis=0)
print("\nColumn-wise sum:\n", col_sum)

DataFrame:
    A  B  C
0  1  8  7
1  5  3  2
2  2  5  5
3  9  1  4

Row-wise sum:
 0    16
1    10
2    12
3    14
dtype: int64

Column-wise sum:
 A    17
B    17
C    18
dtype: int64

### 3: Data Cleaning

In [6]:
# Fill NaN with column mean

df5 = pd.DataFrame(
    np.random.randint(1, 20, size=(5, 3)).astype(float),
    columns=['A', 'B', 'C']
)

# Introduce some NaN values
df5.iloc[1, 0] = np.nan
df5.iloc[3, 2] = np.nan

print("DataFrame with NaN:\n", df5)

# Fill NaN with column mean
df5_filled = df5.fillna(df5.mean())
print("\nAfter filling NaN with column mean:\n", df5_filled)

DataFrame with NaN:
       A     B     C
0  14.0  13.0  18.0
1   NaN  11.0   1.0
2  15.0  10.0   7.0
3  17.0   1.0   NaN
4   5.0  16.0   7.0

After filling NaN with column mean:
        A     B      C
0  14.00  13.0  18.00
1  12.75  11.0   1.00
2  15.00  10.0   7.00
3  17.00   1.0   8.25
4   5.00  16.0   7.00

In [7]:
# Drop rows with any NaN

df6 = pd.DataFrame(
    np.random.randint(1, 20, size=(6, 4)).astype(float),
    columns=['A', 'B', 'C', 'D']
)

# Introduce NaN values
df6.iloc[0, 1] = np.nan
df6.iloc[4, 3] = np.nan

print("DataFrame with NaN:\n", df6)

# Drop rows having any NaN
df6_dropped = df6.dropna()
print("\nAfter dropping rows with NaN:\n", df6_dropped)

DataFrame with NaN:
       A     B     C     D
0   6.0   NaN   2.0  18.0
1  19.0   3.0  12.0  16.0
2  13.0   1.0   9.0  10.0
3  10.0   2.0  16.0  15.0
4  11.0  15.0  14.0   NaN
5   4.0  16.0  14.0   8.0

After dropping rows with NaN:
       A     B     C     D
1  19.0   3.0  12.0  16.0
2  13.0   1.0   9.0  10.0
3  10.0   2.0  16.0  15.0
5   4.0  16.0  14.0   8.0

### 4: Data Aggregation

In [8]:
# Group by 'Category' and aggregate

categories = np.random.choice(['A', 'B', 'C'], size=10)
values = np.random.randint(1, 50, size=10)

df7 = pd.DataFrame({
    'Category': categories,
    'Value': values
})
print("Original DataFrame:\n", df7)

# Group by 'Category' and compute sum and mean
grouped = df7.groupby('Category')['Value'].agg(['sum', 'mean'])
print("\nSum and mean of 'Value' by Category:\n", grouped)

Original DataFrame:
   Category  Value
0        C     26
1        C     29
2        A     30
3        A     30
4        A     41
5        C     11
6        B     10
7        C      8
8        C     23
9        A     49

Sum and mean of 'Value' by Category:
           sum  mean
Category
A         150  37.5
B          10  10.0
C          97  19.4

In [9]:
# Group by 'Category' and total sales

products = ['P1', 'P2', 'P3', 'P4', 'P5']
categories = np.random.choice(['Electronics', 'Clothes', 'Groceries'], size=5)
sales = np.random.randint(100, 1000, size=5)

df8 = pd.DataFrame({
    'Product': products,
    'Category': categories,
    'Sales': sales
})
print("Sales Data:\n", df8)

# Group by 'Category' and sum Sales
total_sales = df8.groupby('Category')['Sales'].sum()
print("\nTotal sales by Category:\n", total_sales)

Sales Data:
   Product     Category  Sales
0      P1    Groceries    724
1      P2  Electronics    600
2      P3  Electronics    137
3      P4  Electronics    434
4      P5  Electronics    208

Total sales by Category:
 Category
Electronics    1379
Groceries       724
Name: Sales, dtype: int32

### 5: Merging DataFrames

In [10]:
# Merge on common column

df_left = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['A', 'B', 'C']
})

df_right = pd.DataFrame({
    'ID': [1, 2, 4],
    'Score': [90, 85, 75]
})

print("Left:\n", df_left)
print("\nRight:\n", df_right)

merged = pd.merge(df_left, df_right, on='ID', how='inner')
print("\nMerged on 'ID':\n", merged)

Left:
    ID Name
0   1    A
1   2    B
2   3    C

Right:
    ID  Score
0   1     90
1   2     85
2   4     75

Merged on 'ID':
    ID Name  Score
0   1    A     90
1   2    B     85

In [3]:
# Concatenate along rows and columns

df_a = pd.DataFrame(np.random.randint(1, 10, size=(3, 2)), columns = ['X', 'Y'])

df_b = pd.DataFrame(np.random.randint(1, 10, size=(3, 2)), columns = ['X', 'Y'])


print("df_a:\n", df_a)
print("\ndf_b:\n", df_b)

# Concatenate along rows
concatRows = pd.concat([df_a, df_b], axis = 0)
print("Concatenated along rows: \n", concatRows)

# Concatenate along columns
concatCols = pd.concat([df_a, df_b], axis = 1)
print("Concatenated along columns: \n", concatCols)

df_a:
    X  Y
0  3  2
1  3  3
2  7  1

df_b:
    X  Y
0  7  4
1  8  2
2  8  5
Concatenated along rows:
    X  Y
0  3  2
1  3  3
2  7  1
0  7  4
1  8  2
2  8  5
Concatenated along columns:
    X  Y  X  Y
0  3  2  7  4
1  3  3  8  2
2  7  1  8  5

### 6: Time Series Analysis

In [ ]:
# Datetime index and resample monthly mean