In [1]:
# for loop

for i in range(5):
  print(i)

0
1
2
3
4

In [2]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [5]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [7]:
for i in range(10, 1, -2):
  print(i)

10
8
6
4
2

In [9]:
# Strings

str = "Sukriti Waani"

for i in str:
  print(i)

S
u
k
r
i
t
i

W
a
a
n
i

In [10]:
# while loop

count = 0
while count < 5:
  print(count)
  count = count + 1

0
1
2
3
4

In [11]:
# Loop Control Statements

# break statement

for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [ ]:
# continue - skips the current iteration and continues with the next

for i in range(10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [14]:
# pass - is a null operation, it does nothing.

for i in range(5):
  if i == 3:
    print("The number is", i)
    pass
  print(i)

0
1
2
The number is 3
3
4

In [15]:
# nested loops

for i in range(3):
  for j in range(2):
    print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

##### Calculate the sum of first N natural numbers

In [20]:
# using a while and for loop

n = 10
sum = 0
count = 1

while count <= n:
  sum = sum + count
  count = count + 1

print("Sum of first 10 natural number is : " , sum)

Sum of first 10 natural number is :  55

In [19]:
# using for loop

n = 10
sum = 0

for i in range(11):
  sum = sum + i

print("Sum of first 10 natural number is : " , sum)

Sum of first 10 natural number is :  55

##### Prime Numbers between 1 and 100

In [22]:
for num in range(1, 101):
  if num > 1:
    for i in range(2, num):
      if num % i == 0:
        break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### Conclusion:

##### Loops are powerful constructs in Python that allow us to execute a block of code multiple times. By understanding and using for and while loops, along with loop control statements like break, continue and pass, we can handle a wide range of programming tasks efficiently.